[Unit]
Description=nist-data-mirror
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/nist-data-mirror
Restart=on-abort
LimitNOFILE=65536
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
